spring.application.name=sentinel-gateway
# DATABASE (LOCAL DOCKER)
spring.datasource.url=jdbc:postgresql://postgres:5432/sentinel_gateway?options=-c%20timezone=UTC
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=org.postgresql.Driver

# REDIS
spring.data.redis.host=redis
spring.data.redis.port=6379

# JPA / HIBERNATE
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=validate
spring.jpa.show-sql=false

# SERVER CONFIGURATION
server.port=8080

# DOCKER
spring.docker.compose.enabled=false

#JWT
jwt.secretKey=
jwt.expiration-minutes=

#Actuator
management.endpoints.web.exposure.include=
management.endpoint.health.show-details=